<h1>Editing rule</h1>

<% form_for(@rule) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @rule %> |
<%= link_to 'Back', rules_path %>
